USE [master]
GO
/****** Object:  Database [LafiseEmisionDb]    Script Date: 29/5/2026 07:28:13 ******/
CREATE DATABASE [LafiseEmisionDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LafiseEmisionDb', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LafiseEmisionDb.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LafiseEmisionDb_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LafiseEmisionDb_log.ldf' , SIZE = 528KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LafiseEmisionDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LafiseEmisionDb]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 29/5/2026 07:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [nvarchar](max) NOT NULL,
	[SegundoNombre] [nvarchar](max) NOT NULL,
	[PrimerApellido] [nvarchar](max) NOT NULL,
	[SegundoApellido] [nvarchar](max) NOT NULL,
	[Identificacion] [nvarchar](max) NOT NULL,
	[Correo] [nvarchar](max) NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Coberturas]    Script Date: 29/5/2026 07:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coberturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Tasa] [decimal](18, 2) NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Coberturas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PolizaCoberturas]    Script Date: 29/5/2026 07:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolizaCoberturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolizaId] [int] NOT NULL,
	[CoberturaId] [int] NOT NULL,
 CONSTRAINT [PK_PolizaCoberturas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Polizas]    Script Date: 29/5/2026 07:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polizas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroPoliza] [nvarchar](max) NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[SumaAsegurada] [decimal](18, 2) NOT NULL,
	[PrimaTotal] [decimal](18, 2) NOT NULL,
	[EsActivo] [bit] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[VehiculoId] [int] NOT NULL,
 CONSTRAINT [PK_Polizas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 29/5/2026 07:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [nvarchar](max) NOT NULL,
	[Marca] [nvarchar](max) NOT NULL,
	[Modelo] [nvarchar](max) NOT NULL,
	[Anio] [int] NOT NULL,
	[ValorComercial] [decimal](18, 2) NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_PolizaCoberturas_CoberturaId]    Script Date: 29/5/2026 07:28:13 ******/
CREATE NONCLUSTERED INDEX [IX_PolizaCoberturas_CoberturaId] ON [dbo].[PolizaCoberturas]
(
	[CoberturaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolizaCoberturas_PolizaId]    Script Date: 29/5/2026 07:28:13 ******/
CREATE NONCLUSTERED INDEX [IX_PolizaCoberturas_PolizaId] ON [dbo].[PolizaCoberturas]
(
	[PolizaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Polizas_ClienteId]    Script Date: 29/5/2026 07:28:13 ******/
CREATE NONCLUSTERED INDEX [IX_Polizas_ClienteId] ON [dbo].[Polizas]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Polizas_VehiculoId]    Script Date: 29/5/2026 07:28:13 ******/
CREATE NONCLUSTERED INDEX [IX_Polizas_VehiculoId] ON [dbo].[Polizas]
(
	[VehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PolizaCoberturas]  WITH CHECK ADD  CONSTRAINT [FK_PolizaCoberturas_Coberturas_CoberturaId] FOREIGN KEY([CoberturaId])
REFERENCES [dbo].[Coberturas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolizaCoberturas] CHECK CONSTRAINT [FK_PolizaCoberturas_Coberturas_CoberturaId]
GO
ALTER TABLE [dbo].[PolizaCoberturas]  WITH CHECK ADD  CONSTRAINT [FK_PolizaCoberturas_Polizas_PolizaId] FOREIGN KEY([PolizaId])
REFERENCES [dbo].[Polizas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolizaCoberturas] CHECK CONSTRAINT [FK_PolizaCoberturas_Polizas_PolizaId]
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD  CONSTRAINT [FK_Polizas_Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Polizas] CHECK CONSTRAINT [FK_Polizas_Clientes_ClienteId]
GO
ALTER TABLE [dbo].[Polizas]  WITH CHECK ADD  CONSTRAINT [FK_Polizas_Vehiculos_VehiculoId] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Polizas] CHECK CONSTRAINT [FK_Polizas_Vehiculos_VehiculoId]
GO
USE [master]
GO
